<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/d3.js"></script>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/d3.hexbin.v0.min.js?5c6e4f0"></script>
    <script src="javascripts/id3-minimized.js"></script>
    <script src="javascripts/visualizer.js"></script>
  </head>
  <body>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/instrumentPlayer.js"></script>
    <script>
    $(document).ready(function() {
      $(document).keypress(function(event) {
        event.preventDefault();
        <% for (var i = 0; i < notes.length; i++) { %>
            <% note = notes[i] %>
            if (event.which == <%= 48 + i %>) {
                playNote("<%= note %>");
                console.log("played " + <%= i %>);
            }
        <% } %>
      });
    });

      window.onbeforeunload = function() {
        $.post('/users/<%= instrument %>');
      	return null;
      };
    </script>

    <div id="audio_box"></div>
    <div class="small_buttons">
        <% notes.forEach(function(note) { %>
        <button class="button orange" onClick=<%= "playNote('" + note + "')" %> ><%= note.split(".")[0].split("/")[1] %></button>
        <% }); %>
    </div>
  </body>
</html>
